.env.local
.env
node_modules
.vercel
.env.*

# Google Sheets credentials (SENSITIVE - DO NOT COMMIT)
credentials/
*.json
!package.json
!package-lock.json


scripts/layanan.*

styles/layanan.*

test turn on mesin.txt
